nav ul{
    list-style-type: none;
    padding-top: 10px;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #eee;
    padding: 20px;
}

nav a:hover{
    background-color: #eee;
    color: black;
}

@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        flex: 1 1 0;
    }
}

#container{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    max-width: 1200px;
    background-color: black;
    margin: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "aside aside aside"
    "aside aside aside"
    "article article article"
    "article article article"
    "footer footer footer";
}

#header{
    grid-area: header;
}

#main{
    grid-area: main;
}

#article{
    grid-area: article;
}

#aside{
    grid-area: aside;
}

#footer{
    grid-area: footer;
}

nav, #aside, article, #footer, header{
    background: black;
}

form{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

footer p{
    font-size: 30px;
    color: white;
    text-align: center;
}

#main img{
    width: 100%;
    height: 100%;
}

#nav-bar{
    grid-area: nav;
    position: relative;
    bottom: 50px;
}

html{
    background: black;
}

.card{
    margin: 25px; 
}
